# requirements for building the docs
sphinx~=3.1
furo<=2021.06.18.beta36  # sphinx==3 compatibility
sphinx-inline-tabs
sphinx-copybutton
sphinx-notfound-page
sphinx-hoverxref
sphinx-toolbox
readthedocs-sphinx-search
typing_extensions
